<div class = "runs">
  <h3> <%= link_to "Run Log Details", run_path(run) %> </h3>

  <p> <strong> Date: </strong> <%= run.date %> </p>
  <p> <strong> Distance: </strong> <%= run.distance %> </p>
  <p> <strong> Duration: </strong> <%= run.duration %> </p>
  <p> <strong> Pace: </strong> <%= run.pace %> </p>
  <p> <strong> Route: </strong> <%= run.route %> </p>
  <p> <strong> Comments: </strong> <%= run.comments %> </p>
  <p> <strong> Shoes: </strong> <%= run.shoes %> </p>

</div>
