<div class="user_profile">
  <h3> Profile of <%= @user.user_name %> </h3>

  <p> <strong>User Name:</strong> <%= @user.user_name %> </p>
  <p> <strong>Email :</strong> <%= @user.e_mail %> </p>
  <p> <strong>User Description:</strong> <%= @user.user_description %> </p>
  <p> <strong>City:</strong> <%= @user.city %> </p>

</div>

<%= render partial: 'users/run', collection: @user.runs %>

<%= link_to 'Edit', edit_user_path(@user) %> ||
<%= link_to 'Back to Users Index', users_path %> ||
<%= link_to 'Delete', user_path(@user),
    method: :delete,
    data: { confirm: 'Are you sure? Delete is permanent.  Please confirm.'} %> ||
<%= link_to "Post New Run", new_user_run_path(@user) %>
