<div class="user_profile">
  <h3> Profile of <%= @user.user_name %> </h3>

  <p> <strong>User Name:</strong> <%= @user.user_name %> </p>
  <p> <strong>Email :</strong> <%= @user.e_mail %> </p>
  <p> <strong>User Description:</strong> <%= @user.user_description %> </p>
  <p> <strong>City:</strong> <%= @user.city %> </p>

</div>

<h3> Your Log of Runs before 'render partial'</h3>
<p> <strong> <%= link_to "Post New Run", new_user_run_path(@user) %> </strong> </p>

<!-- <%= render partial: 'users/run', collection: @user.runs %> -->


<table style = "width:100%">
    <tr>
      <td> <strong> Date </strong> </td>
      <td> <strong> Distance </strong> </td>
      <td> <strong> Duration </strong> </td>
      <td> <strong> Route </strong> </td>
      <td> <strong> Comments </strong> </td>
    </tr>

    <% @user.runs.each do |run| %>
    <tr>
      <td> <%= run.date %> </td>
      <td> <%= run.distance %> </td>
      <td> <%= run.duration %> </td>
      <td> <%= run.route %> </td>
      <td> <%= run.comments %> </td>
    </tr>
    <% end %>

  </table>



<%= link_to 'Edit User Profile', edit_user_path(@user) %> ||
<%= link_to 'Back to Users Index', users_path %> ||
<%= link_to 'Delete User Profile', user_path(@user),
    method: :delete,
    data: { confirm: 'Are you sure you want to delete your Profile? Delete is permanent.  Please confirm.'} %> ||
<%= link_to "Post New Run", new_user_run_path(@user) %>
