<%= form_for @run do |f| %>

<% if @run.errors.any? %>
  <div id="error message">
    <h2>
      <%= pluralize(@run.errors.count,"error") %>
      this User Information from being saved:
    </h2>
    <ul>
      <% @run.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
  <% end %>

<p> <%= f.label :date%><br> <%= f.text_field :date %> </p>
<p> <%= f.label :distance%><br><%= f.text_field :distance %> </p>
<p> <%= f.label :start_time%><br><%= f.text_field :start_time %> </p>
<p> <%= f.label :duration%><br><%= f.text_field :duration %> </p>
<p> <%= f.label :route%><br><%= f.text_field :route %> </p>
<p> <%= f.label :run_type%><br><%= f.text_field :run_type %> </p>
<p> <%= f.label :comments%><br><%= f.text_area :comments, size: "60x12" %> </p>
<p> <%= f.label :shoes%><br><%= f.text_field :shoes%> </p>
<p> <%= f.submit %> </p>

<% end %>
