<div class = 'run_profile'>

  <h2> Run Workout Details </h2>
    <p> <strong> Date:       </strong> <%= @run.date %>      </p>
    <p> <strong> Distance:   </strong> <%= @run.distance %>  </p>
    <p> <strong> Start Time: </strong> <%= @run.start_time %></p>
    <p> <strong> Duration:   </strong> <%= @run.duration %>  </p>
    <p> <strong> Route:      </strong> <%= @run.route %>     </p>
    <p> <strong> Run Type:   </strong> <%= @run.run_type %>  </p>
    <p> <strong> Comments:   </strong> <%= @run.comments %>  </p>
    <p> <strong> Shoes:      </strong> <%= @run.shoes %>     </p>

</div>

<div class = 'navigation_bar'>
  <%= link_to 'Edit Run', edit_run_path(@run) %> ||
  <%= link_to 'Delete Run', run_path(@run),
      method: :delete,
      data: {confirm: 'Are you sure? Delete is permanent.  Please confirm.'} %> ||
   <%= link_to 'See User Profile', user_path(@user)%>
</div>
